@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
* a {
  text-decoration: none;
  color: inherit;
}

body {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

header {
  background-color: white;
  display: flex;
  justify-content: center;
  height: 96.34px;
}
header h1 {
  font-family: "Shrikhand", serif;
  font-weight: 200;
  font-size: 36px;
}
header .fa-solid.fa-arrow-left {
  position: absolute;
  left: 40px;
  top: 40px;
}

#img-restaurant {
  -o-object-fit: cover;
     object-fit: cover;
  height: 383px;
  width: 100%;
}

.carte-restaurant {
  display: flex;
  border-radius: 25px;
  flex-direction: column;
  gap: 40px;
  padding: 40px 180px;
  background-color: #F6F6F6;
  margin: 0px 180px;
  position: relative;
  bottom: 50px;
}

.titre {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.titre h2 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  margin: 0px;
}
.titre .fa-regular.fa-heart {
  font-size: 21px;
}

.choix-carte {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.choix-carte h3 {
  font-size: 16px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  margin: 0px;
}

.description {
  background-color: white;
  border: 1px white solid;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.choix h4 {
  font-size: 18px;
  font-weight: 500;
  margin: auto;
}
.choix p {
  font: size 15px;
  font-weight: 300;
  margin: auto;
}

.prix {
  font-weight: bold;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn .btn-commander {
  color: white;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 50px;
  height: 50px;
  width: 186px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  background-color: #353535;
  display: flex;
  padding-top: 65px;
  padding-bottom: 30px;
}

footer .liens {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
  gap: 50px;
}

footer .proposer {
  display: flex;
  gap: 10px;
}

footer .devenir {
  display: flex;
  gap: 10px;
}

footer span {
  color: white;
  display: flex;
  align-items: center;
  margin-right: 30px;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 18px;
}

@media (max-width: 767.98px) {
  body {
    max-width: 767.98pxpx;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
  }
  header h1 {
    font-size: 30px;
  }
  header .fa-solid.fa-arrow-left {
    left: 17px;
    top: 17px;
  }
  .carte-restaurant {
    display: flex;
    border-radius: 25px;
    flex-direction: column;
    gap: 40px;
    padding: 20px 13px;
    background-color: #F6F6F6;
    margin: 0px;
  }
  .titre {
    width: 100%;
    gap: 15px;
  }
  .titre h2 {
    font-family: "Shrikhand", serif;
    font-size: 28px;
    font-weight: 400;
    margin: 0px;
  }
  .choix-carte {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .choix-carte h3 {
    font-size: 16px;
    font-weight: 300;
    border-bottom: 3px solid #99E2D0;
    width: 40px;
    margin: 0px;
  }
  footer {
    display: flex;
    flex-direction: column-reverse;
    padding: 22px 0px 22px 25px;
    gap: 15px;
  }
  footer .liens {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  footer span {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-size: 18px;
  }
}/*# sourceMappingURL=menu.css.map */