*{
    font-family:"Roboto", sans-serif;
        & a {
            text-decoration: none;
        }
}
body{
    max-width: 1440px;
    margin:auto;
    background-color:#F6F6F6 ;
}
header{
    width: 100%;
        & .header {
            display: flex;
            justify-content: center;
            align-items: center;
            height:96px;
    }
        & img {
            width:200px;
            height:34px;
    }
        & .location {
            background: #EAEAEA;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height:50px;
            gap:17px;
    }
        & .city {
            font: size 16px;
            font-weight: 500;
    }
}
.hero {
    padding:30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
        & .titre {
            font-size: 40px;
            margin: auto;
        }
        & .sous-titre {
            margin: auto;
            font-size: 18px;
            font-weight: 300;
        }
        & .btn-explorer {
            height: 50px;
            width: 218px;
            background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
            color: white;
            font-size: 16px;
            font-weight: 500;
            box-shadow: 0px 4px 10px 0px #00000040;
            border: none;
            border-radius: 25px;
        }
}
.fonctionnement {
    padding:50px 180px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap:25px;
        & .titre {
            margin: 0px;
        }
        & .btn-fonctionnement{
            
            background-color: #F6F6F6;
            box-shadow: 0px 4px 15px 0px #00000026;
            border-radius:25px;
            display: flex;
            align-items: center;
            height:72px;
            width:335px;

        }
        & .numero {            
            width: 24px;
            height:24px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 25px;
            background-color: #9356DC;
            position: relative;
            right: 13px;   
        }
        & .choix {
            display: flex;
            align-items: center;
            gap:26px;
                & i {
                    font-size: 20px;
                }
                &  p {
                    font-size: 16px;
                    font-weight: 500;
                }
        }
        & .groupe-btn-fontctionnement {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }        
}
